/* Importa la fuente Poppins de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins';
  border: 5px solid #ffda06;
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(Images/fondo.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
h1 {
    color:#fff
}
h2 {
  color:#fff
}

.header-container {
    display: flex;
  }

.header-container img {
    align-items:start;
    width: 100px;
    height: 70px;
  }

.header-container h1 {
    display: flex;
    align-items: center;
    margin: 0;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #1b1b20;
    color: #ffda05;
    text-align: center;
  }

  .header-container {
    display: flex;
  }

  .header-container img {
    align-items:start;
    width: 100px;
    height: 70px;
  }

  .header-container h1 {
    display: flex;
    align-items: center;
    margin: 0;
  }

  /* Table background color */
table {
  background-color: #1b1b20; /* Light gray color */
  color:#fff;
  margin-top: 12%;
  border-radius: 5%;
}


/* Table cell borders */
th, td {
  border: 1px solid yellow;
  padding: 5px; /* Add some padding for better readability */
  border-radius: 5%;
}

/* Buttons - Change selector if needed */
button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Indicate clickable button */
}
  
.welcome-title {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  color: #fff; /* Cambia el color del texto si lo deseas */
}
