<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="asesor.css">
</head>
<body>
    <header>
        <div class = "primero">
            <h2>Horario de atención: Lunes a viernes de 8:00 am a 5:00 pm y sábados de 8:00 am a 3:00 pm</h2>
        </div>
        <div class = "segundo">
            <img class="headerimg" src="static/Images/logo.png">
            <h1>¿Deseas contactarnos?</h1>
        </div>
    </header>
    <main>
        <section class="services">
        <div class="service-grid">
            <div>
            </div>
          <div class="service">       
            <div><img class = "foto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png"></div>
            <a href="https://wa.me/3108695453/?text=Hola%20me%20gustaria%20recibir%20asesoria%20con%20mi%20cotizacion">¿Necesitas asesoría por WhatsApp?</a>
          </div>
         <div class="service">  
            <div><img class="foto" src="/static/Images/imprimir.png"></div>
            <a onclick="downloadPdf()">¿Necesitas imprimir tu cotización?</a>
         </div>
         <br>
        </div>
        <div>
        </div>
        </section>
    
    <div class ="botones">
        <a type="button" class="botonVolver" href="cotizaciones">Volver</a>
    </div>
    </main>
    
    <footer>
        <p>&copy; 2024 TopQuoter By Leoncicos</p>
    </footer>
</body>
</html>