<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TU CARRITO TOPQUOTER</title>
  <link rel="stylesheet" href="../static/carrito.css">
</head>
<body>
  <section class="principal">
    <img src="../static/Images/logo.png">
  </section>

  <div class="productos">
      <h2>Tu Carrito:</h2>

      <table>
        <tr>
          <th></th>
          <th>Servicio</th>
          <th>Cantidad</th>
          <th>Costo</th>
        </tr>

        <tr th:each="producto: ${productosCarrito}">
          <td><button class="eliminarProducto">x</button></td>
          <td th:text="${producto.producto}"></td>
          <td>1</td>
          <td>30.000</td>
        </tr>
      </table>

      <div class="costo">
        <h2>Subtotal: $99999</h2>
        <h1>Total: $100000</h1>
      </div>

      <div class="botones">
        <a type="button" class="botonVolver" href="cotizaciones">Volver</a>
        <a type="button" class="botonContinuar" href="#">Continuar</a>
      </div>
  </div>


  <footer>
    <p>&copy; 2024 TopQuoter By Leoncicos</p>
  </footer>
</body>
</html>