<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento Vehicular</title>
    <link rel="stylesheet" href="styleCotizacion.css">
</head>
<body>
    <header>
        <img class="headerimg" src="static/Images/logo.png">
        <h1>¿Que servicios necesitas?</h1>
        <div class="carrito">
          <a type="button" class="carrito" href="carrito"></a>

      </div>
    </header>

    <main>
        <section class="services">

            <div class="service-grid">
              <div th:each="producto: ${productos}" class="service">
                <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/alineacion_y_balanceo-v3.svg"></div>
                <h3 th:text="${producto.producto}"></h3>
                <a href="#">Agendar</a>
                <h3>  </h3>
                <h3 th:text="${producto.precio}"></h3>
              </div>
            </div>
    </main>

    <footer>
        <p>&copy; 2024 TopQuoter By Leoncicos</p>
    </footer>
</body>
</html>