<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento Vehicular</title>
    <link rel="stylesheet" href="styleCotizacion.css">
</head>
<body>
    <header>
        <img class="headerimg" src="static/Images/logo.png">
        <h1>¿Que servicios necesitas?</h1>
        <div class="carrito">
          <a type="button" class="carrito" href="carrito"></a>

      </div>
        
    </header>

    <main>
        <section class="services">
            <h2>Mantenimiento por Kilometraje</h2>
            <div class="service-grid">
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/alineacion_y_balanceo-v3.svg"></div>
                  <h3>Alineación y Balanceo</h3>
                  <a href="#">Agendar</a>
                  <h3>  </h3>
                  <h3>$</h3>
                </div>
                
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/kit_de_embrague-v3.svg"></div>
                    <h3>Reemplazo de Kit de Embrague</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/revision_tecno_mecanica-v3.svg"></div>
                    <h3>Reemplazo de Correa de Distribución</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/amortiguadores-v3.svg"></div>
                    <h3>Reemplazo de Amortiguadores</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/diagnostic_engine-v3.svg"></div>
                    <h3>Reparación de Motor</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
            </div>
        </section>

        <section class="services">
            <h2>Cambio de Aceite y Filtro</h2>
            <div class="service-grid">
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/diagnostic_engine-v3.svg"></div>
                    <h3>Cambio de Aceite y Filtro</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/amortiguadores-v3.svg"></div>
                    <h3>Inspección de Amortiguadores</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/diagnostic_gota-de-sangre-v3.svg"></div>
                    <h3>Inspección de Fluidos</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/cambio_bateria-v3.svg"></div>
                    <h3>Inspección de Batería</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/escaner-v3.svg"></div>
                    <h3>Inspección de Mangueras y Bombas</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
            </div>
        </section>

        <section class="services">
            <h2>Mantenimiento Rápido</h2>
            <div class="service-grid">
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/liquido_frenos-v3.svg"></div>
                    <h3>Reemplazo de Líquido de Frenos</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/escaner-v3.svg"></div>
                    <h3>Diagnóstico con Escáner</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/plumillas-v3.svg"></div>
                    <h3>Reemplazo de Piezas</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
                <div class="service">
                  <div class="foto"><img src="https://s3.amazonaws.com/static.autolab.com.co/assets/images/autobooking/autobooking_icons/sincronizacion-v3.svg"></div>
                    <h3>Sincronización</h3>
                    <a href="#">Agendar</a>
                    <h3>  </h3>
                  <h3>$</h3>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 TopQuoter By Leoncicos</p>
    </footer>
</body>
</html>