<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cotizaciones</title>
    <link rel="stylesheet" href="../static/styleResumen.css">
</head>
<body>
    <div id="div1">
        <header>
            <div class="header-container">
                <img src="/static/Images/logo.png" alt="logo">
                <h1>TOP GEAR CENTRO AUTOMOTRIZ BOGOTÁ</h1>
            </div>
        </header>
        <h1 class="tittle">Cotizaciones en curso</h1>
        <table>
            <thead>
                    <tr  id="cotizaciones">
                        <th>Numero de la cotización</th>
                        <th>Cédula</th>
                        <th>Descripción</th>
                    </tr>
            </thead>
            <tbody>
                <tr th:each="cotizacion: ${list}" class="filas">
                    <td th:text="${cotizacion.numCotizacion}"></td>
                    <td th:text="${cotizacion.cedula}"></td>
                    <td th:text="${cotizacion.descripcion}"></td>

                    <td> 
                        <form th:action="@{/update}" method="post">
                            <input type="hidden" th:name="numcotizacion" th:value="${cotizacion.numCotizacion}"> <button type="submit">UPDATE</button> 
                        </form>
                    </td>                    

                    <td> 
                        <form th:action="@{/delete/confirm(numCotizacion=${cotizacion.numCotizacion})}" method="post" onsubmit="return confirm('¿Está seguro de que desea eliminar la cotización?')">
                            <button type="submit">DELETE</button> 
                        </form>
                    </td>

                </tr>
            </tbody>
        </table>
        <form action="/crearCotizacion" method="get">
            <button type="submit">NEW</button>
        </form>
    </div>
</body>
</html>