<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cotizaciones</title>
    <link rel="stylesheet" href="../static/styleResumen.css">
</head>
<body>
    <div id="div1">
        <header>
            <div class="header-container">
                <img src="/static/Images/logo.png" alt="logo">
                <h1>TOP GEAR CENTRO AUTOMOTRIZ BOGOTÁ</h1>
            </div>
        </header>
        <h1 class="tittle">Cotizaciones en curso</h1>
        <div class="productos">
        <table>
            <thead>
                    <tr  id="cotizaciones">
                        <th>Numero de la cotización</th>
                        <th>Cédula</th>
                        <th>Estado</th>
                    </tr>
            </thead>
            <tbody>
                <tr th:each="cotizacion: ${list}" class="filas">
                    <td th:text="${cotizacion.numCotizacion}"></td>
                    <td th:text="${cotizacion.cedula}"></td>
                    <td th:text="${cotizacion.estado}"></td>

                    <td> 
                        <form th:action="@{/update}" method="post">
                            <input type="hidden" th:name="numCotizacion" th:value="${cotizacion.numCotizacion}"> <button type="submit">Actualizar estado</button> 
                        </form>
                    </td>                    
                </tr>
            </tbody>
        </table>
        <form action="/crearCotizacion" method="get">
            <button type="submit">NEW</button>
        </form>
        </div>

        <div class="productosTabla">
            <table>
                <thead>
                        <tr  id="productos">
                            <th>Id producto</th>
                            <th>Cédula</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                        </tr>
                </thead>
                <tbody>
                    <tr th:each="cotizacion: ${list}" class="filas">
                        <td th:text="${cotizacion.numCotizacion}"></td>
                        <td th:text="${cotizacion.cedula}"></td>
                        <td th:text="${cotizacion.descripcion}"></td>
                        <td th:text="${cotizacion.estado}"></td>
    
                        <td> 
                            <form th:action="@{/update}" method="post">
                                <input type="hidden" th:name="numCotizacion" th:value="${cotizacion.numCotizacion}"> <button type="submit">Actualizar estado</button> 
                            </form>
                        </td>                    
                    </tr>
                </tbody>
            </table>
            <form action="/crearCotizacion" method="get">
                <button type="submit">NEW</button>
            </form>
            </div>
    </div>
</body>
</html>