<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopQuoter Login</title>
    <link rel="stylesheet" href="./styleLogin.css">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="/static/Images/logo.png" alt="logo">
            <h1>TOP GEAR CENTRO AUTOMOTRIZ BOGOTÁ</h1>
        </div>
    </header>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="/agendamientos.html" method="post">
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <form action="/newPage" method="get">
            <button type="submit">Ingresar</button>
            </form>
        </form>
    </div>
    
</body>
</html>
